
<div class="container">

  <h3>Add a new bot ressource</h3>

  <div class="row">
    <%= form_for @resource, class: "col s12 m6", url: {action: "create"} do |f| %>

      <!-- Resource name -->
      <div class="row">
        <div class="input-field col s12 m6">
          <br>
          <%= f.text_field :ress_name, id: "ress_name", class: "validate", placeholder: "Resource Name" %>
        </div>
      </div>

      <!-- Resource link -->
      <div class="row">
        <div class="input-field col s12 m6">
          <br>
          <%= f.text_field :link, id: "link", class: "validate", placeholder: "Resource Link" %>
        </div>
      </div>

       <!-- TODO: finish FORM! -->
      <!-- Resource category -->
      <div class="row">
        <div class="input-field col s12 m6">

          <%= f.select(:category_id) do %>
            <% categories_array = Category.all.map { |cat| [cat.cat_name, cat.id] } %>
            <%= options_for_select(categories_array) %>
          <% end %>
          <label for="resource_link">Categories</label>
        </div>
      </div>
  <br><br>
      <div class="actions">
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
